body {
    font-family: 'Mynerve', cursive;
    background: #f3f6f7;
}

img {
    width: 200px;
    height: 250px;
    object-fit: contain;
}

.container {
    display: flex;
    padding: 50px;
}

.leftMenu {
    flex: 1;
}

.search {
    padding: 10px;
    width: 200px;
    border: 1px solid gray;
}

h1, h2 {
    font-size: 30px;
    color: #555;
    font-weight: 300;
}

.cats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cats {
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
}

.content {
    flex: 4;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.name {
    font-weight: 400;
}